body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.data-page {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.app {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.sidebar {
  width: 220px;
  background-color: #2751A2;
  color: white;
  padding: 20px;
  align-content: left;
}

.sidebar .logo {
  text-align: left;
  margin-bottom: 30px;
  font-size: 18px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 20px;
  text-align: left;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  display: block;
  padding: 10px;
}

.sidebar ul li a:hover {
  background: #204188;
  border-radius: 6px;
  font-weight: bold;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 30px;
  background: #f4f6f9;
  color: #204188;
  box-sizing: border-box;
}

/* Global Table Styles */
table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.table-container {
  flex-grow: 1;
  overflow-y: auto;
  margin-bottom: 1rem;
}

thead {
  background: #e9effc;
}

thead th {
  padding: 12px 16px;
  text-align: left;
  font-size: 14px;
  font-weight: bold;
  color: #2751A2;
}

tbody td {
  padding: 12px 16px;
  font-size: 14px;
  color: #333;
}

tbody tr:hover {
  background: #eef3ff; 
}

/* Header row */

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

/* Action buttons */

.action-buttons{
  display: flex;
  gap: 1rem;
}

/* Search and sort container */

.search-sort {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.search-bar {
  padding: 8px;
  font-size: 14px;
  background-color: white;
  border-radius: 6px;
  border: 1px solid #2751A2;
  color: #333;
  width: 500px;
}

.sort-btn {
  padding: 8px 12px;
  font-size: 14px;
  margin-left: auto;
}

/* Buttons */
.btn {
  padding: 8px 14px;
  font-size: 14px;
  border-radius: 6px;
  cursor: pointer;
  border: none;
}

.btn-primary {
  background-color: #2751A2;
  color: white;
}

.btn-primary:hover {
  background-color: #204188;
}

.btn-outline {
  background: white;
  border: 1px solid #2751A2;
  color: #2751A2;
}

.btn-outline:hover {
  background: #f1f4fa;
}

/* Pagination */
.pagination {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
  align-items: center;
  margin-top: auto;
  padding-top: 20px;
}

.pagination button {
  border: 1px solid #ccc;
  background: white;
  color: #333;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.pagination button:hover {
  background: #eef3ff;
}

.pagination .active {
  background: #2751A2;
  color: white;
  font-weight: bold;
}